<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.emma.qrcode_iteration2">

    <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_head"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="d1d20e036dc8f8c5c4727535a89bcb73" />

        <activity android:name=".RouteActivity" ></activity>
        <activity
            android:name=".Welcome"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden">

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Building"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity android:name=".PlaceDescription" >
        </activity>
        <activity
            android:name=".PoiAroundSearchActivity"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity android:name=".typeSearch" />
        <activity android:name=".ShopList" />
        <activity android:name=".TypeMap" />
        <activity android:name=".PlaceDescription_type" />
        <activity android:name=".MainActivity">
        </activity>
        <activity android:windowSoftInputMode="adjustUnspecified|stateHidden" android:name=".GeocoderActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Feedback"/>
        <activity android:name=".Award"/>
        <activity android:name=".selectPoint"/>
    </application>

</manifest>